@import 'style/helperStyles.css';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #5f5f79;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 80%;
    margin: auto;
    height: 10vh;
    align-items: center;
}

.logo-container, .nav-links, .cart {
    display: flex;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

.logo-container {
    flex: 1;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    padding: 0.5em;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10;
    width: 80%;
    height: 2px;
    background-color: #5f5f79;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.cart {
    flex: 1;
    justify-content: flex-end;
}

.logoImg {
    height: 50px;
    width: 50px;
}

.youtubeImg {
    width: 70px;
    height: 50px;
}

.logoTwitter {
    height: 25px;
    width: 50px;
}

.logoGmail {
    height: 50px;
    width: 100px;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta {
    display: flex;
    padding: 50px 0 0 0;
}
.cta-select, .cta-add  {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.cta-select {
    background: transparent;
    border: 2px solid #c36cbb;
    color: #c36cbb;
}

.cta-add {
    background-color: #c36cbb;
    border: none;
    color: white;
    margin-left: 30px; 
}

/* .cta-select {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-add {
    background-color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0 0 30px;
} */

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
}

.cover img {
    height: 60vh;
    /* width: 100px; */
    filter: drop-shadow(0 5px 3px black);
    animation: drop 3s ease;
}

.big-circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

.social-media-links {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 20%;
}

.logoLinkedin {
    margin: 0 25px;
    height: 40px;
    width: 40px;
}

a {
    color: #5f5f79;
    text-decoration: none;
}

/* .active {
    color: red
} */

.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10;
    width: 80%;
    height: 2px;
    background-color: #5f5f79;
    visibility: visible;
    transform: scaleX(1);
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta {
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    .cta-add {
        margin: 5px 0 0 0; 
    }
    .social-media-links {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50% 5%);
    }
    .cover img {
        /* height: 80%; */
        height: 60%;
        width: 300px;
    }
    /* .small-circle, .medium-circle, .big-circle {
        opacity: 0.2;
    } */
  

}