@import "../style.css";
/* body {
	font-family: 'Poppins', sans-serif;
    font-size: 18px;
} */
.main {
    width: 80%;
    margin: auto;
}
.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
    display: flex;
}
.box {
    /* background-color: red; */
    width: 100%;
    max-width: 500px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.img-responsive {
    width: 435px;
    height: 231px;
}
.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.section-heading-spacer {
    /* float: left; */
    /* display: block; */
    width: 200px;
    border-top: 3px solid #e7e7e7;
    /* width: 100%; */
}
.section-heading {
    margin: 20px 0;
}
@media screen and (max-width: 1024px) {
    .row {
        display: flex;
        flex-direction: column;
    }
}

