@import "../style.css";
.row {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 1px solid #e7e7e7;
}
.col-1 {
    flex-basis: 40%;
}
.col-2 {
    flex-basis: 35%;
}
.portfolio-media {
    width: 100%;
    height: 250px;
    /* border: 3px dashed black; */
    /* background: blue; */
}
.section-heading-spacer {
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
.section-heading {
    margin: 20px 0;
}
@media screen and (max-width: 1024px) {
    .row {
        flex-direction: column;
    }
    .portfolio-media {
        height: 150px;
    }
}
